filebeat.inputs:
- type: container
  paths:
    - /var/lib/docker/containers/*/*.log
  processors:
    - add_kubernetes_metadata:
        host: ${NODE_NAME}
        matchers:
        - logs_path:
            logs_path: "/var/lib/docker/containers/"

output.elasticsearch:
  hosts: ['elasticsearch:9200']
  indices:
    - index: "credit-scoring-%{+yyyy.MM.dd}"
      when.equals:
        kubernetes.labels.app: "credit-scoring"